{% extends "base.html" %}
{% block title %}Blog{% endblock %} 

{% block content %}

<h1 style="text-align: center;">Blog</h2>
<br>
<!-- Blog Post Template
<div class="card mx-auto" style="max-width: 30rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body" style="text-align: center;">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Text</p>
        <a href="#" class="btn btn-primary">Read</a>
    </div>
</div>
-->

<!--
<div class="card mx-auto" style="max-width: 30rem;">
    <img style="filter: saturate(0%);" class="card-img-top" src="/static/birb.jpg" alt="Birds">
    <div class="card-body" style="text-align: center;">
        <h5 class="card-title">Coming Soon</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-secondary">August 2022</a>
    </div>
</div>
-->

<div class="card mx-auto" style="max-width: 30rem;">
    <img class="card-img-top" src="/static/sunruse.jpg" alt="Sunrise">
    <div class="card-body" style="text-align: center;">
        <h5 class="card-title">Hello World</h5>
        <p class="card-text">Introducing this months project, this website</p>
        <a href="/blog/HelloWorld" class="btn btn-primary">Read</a>
    </div>
</div>

{% endblock %}