{% extends "base.html" %}
{% block title %}Projects{% endblock %} 

{% block content %}

<div class="float-main" name="ID" style="text-align: center;">

    <h1 style="text-align: center;">Projects</h1>
    <br>
    <p>December 2022 - <a href="projects/removeBG" style="display:inline;">Online Background Remover</a></p>

    <p>July 2022 - <a href="/" style="display:inline;">Confederated.dev</a></p>
    <br>
    <p>These projects are worth what you pay for them</p>
    <!--<p>Note: Clicking on the link will open both the project website and the blog</p>-->
    
</div>
{% endblock %}