{% extends "base.html" %}
{% block title %}Confederated{% endblock %} 

{% block content %}

<div class="float-main" name="ID" style="text-align: center;">
    <!--<h1>Title Goes Here</h1>-->
    <br><br><br><br>
    <h1 style="text-align: center;">Ahoy</h2>
    <br><br>
    <p>I build small unrelated projects <br><a class="nav-item nav-link h-100" id="projects" href="/projects">You can find them here</a></p>
    <br>
    <p>Sometimes I blog about these projects and the journey <br> <a class="nav-item nav-link h-100" id="blog" href="/blog">You can find those here</a></p>
    <br>
    <p>If you must contact me, I can be found<a style = "display:inline;"class="nav-item nav-link h-100" id="home"  href = "/contact">here</a></p>
    
</div>





{% endblock %}