{% extends "base.html" %}
{% block title %}Projects{% endblock %} 

{% block content %}

<div class="float-main" name="ID" style="text-align: center;">

    <h1 style="text-align: center;">Projects</h1>
    <br>
    

    <p>July 2022 - <a href="http://www.Confederated.dev"  onclick="window.open('http://www.Confederated.dev/blog/HelloWorld');" style="display:inline;">Confederated.dev</a></p>
    <br>
    <p>Note: Clicking on the link will open both the project website and the blog</p>
    
</div>
{% endblock %}